body{
        background-color: red;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}

h1{
        font-size: 40px;
}
p{
        color: green;
=======
>>>>>>> parent of c25c76b... Added Heading
=======
>>>>>>> parent of c25c76b... Added Heading
=======
>>>>>>> parent of c25c76b... Added Heading
}